*{
    text-decoration: none;
    border-collapse: collapse;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items:flex-start;
    position: relative;
    width: 100vw;
}


.imgcontainer {
            text-align: left;
            margin: 10px 0 12px 0;
        }

        /*set image properties*/

img.avatar {
            width: 5%;
            border-radius: 25%;
        }

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    padding-bottom: 20px;
}

#navbar ul li{
   list-style: none;                    /* dot to home got omited */
  font-size: 1rem;
} 
 
#navbar::before{
    content: "";
    background-color: #3485bb;
    position: absolute;
    top:-8px;
    left:-10px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.9;
    /* border-radius: 10px; */
}

#navbar ul li a{
    color: rgb(38, 153, 48);
   display: block;
   padding: 10px 15px;
   text-decoration: none;                /* underline of home got omited */
   border-radius: 50px;
}

#navbar ul li a:hover{
    background-color: rgb(35, 196, 48);
    color: rgb(158, 57, 57);
    transform: scale(0.95);
    border: 2px solid #4050db;

}

    h1 {
      color: #f01818;
      text-align: center;
      font-size: 300%;
      font-style: oblique;
      max-block-size: 75%;
      font-variant: small-caps;
     
    }

.item1{
    position: absolute;
    left: 250px; 
    /* padding: 10px 20px; */
}

/* if both have same class name item1 their is other method to shift button to right
.item1 {
    position: relative;
    right: -537px;} */
 
.item2{
    position: absolute;
    left: 150px; 

}

.item3{
    position: absolute;
    left: 20px;
    margin-top: -24px;
    /* border: 3px solid red; */
    background-color: #1ac537; 
    border-radius: 30px;
    font-weight: 700;
    color: black;
}

.item4{
    position: absolute;
    right: 875px;
    background-color: rgb(24, 96, 204); 
    border-radius: 30px;
}
.item5{
    position: absolute;
    right: 725px;
    background-color: rgb(31, 192, 52); 
    border-radius: 30px;
}

.sub-menu2{
    display :none;
}

#navbar ul li:hover .sub-menu2{
    display: block;
    position: absolute;
    border-radius: 20px;
    background-color: rgb(39, 128, 187);
    margin-top: 1px;
    margin-left: -10px;
    left: 10px;
}

#navbar ul li:hover .sub-menu2 ul{
    display: block;
    margin: 10px;
}


#home::before{ 
    content: "";
    position: absolute;
    background-color: #c9ceca;
    height: 1000px;
    top:0px;
    left:0px;
    width: 96vw;
    z-index: -1;
    opacity:0.9;
}

     .inputt{
        /* height: 3500px; */
        width: 1200px; 
        border: 15px solid #1876d3;
       margin: auto;
        margin-top: 30px;
        border-radius: 30px;
        box-shadow: 5px 10px 23px;

      background-repeat: no-repeat;
      background-size: cover;
    }
   

    .inp{
    height: 18px;
    width: 308px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    font-variant: small-caps;
}

.inp:hover{
    transform: scale(.99);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    border: 2px solid red;
    cursor: pointer;
}

.form-button{
    border: 2px solid green;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    height: 50px;
    width: 190px;
    font-weight: bold;
    color: rgb(247, 238, 238);
    padding: 1px;
}

.form-button:hover{
    background-color: black;
    border: 3px solid red;
    transform: scale(.9);
    border-radius: 10px;
    transform: scale(.98);
    font-weight: bold;
    color: rgb(250, 246, 246);
}

#pay{
    padding: 5px;
}
h2{
    font-size: 1.7rem;
    font-variant: small-caps;
}
h3{
    font-size: 1.3rem;
    font-variant: small-caps;
}
.label{
    border: 2px solid black;
    height: 40px;
    width: 340px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-variant: small-caps;

}
select:hover{
    transform: scale(.99);
    border: 2px solid red;
    cursor: pointer;
}
table{
    border: 15px solid #dee2e6;
}
tr th{
    border: 4px solid #dee2e6;
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
}
td{
    border: 4px solid #dee2e6;
    text-align: center;
    padding: 15px;
    border-collapse: collapse;
}
thead td{
    /* border: 2px solid green; */
    text-align: center;
    padding: 15px;
}
